@inject NavigationManager navMgr
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <BSCard style="color: black" PaddingTop="Padding.Large" Alignment="Alignment.Center" CardType="CardType.Card">
                        <BSCard CardType="CardType.Title">Hello! Please login to see your account.</BSCard>
                        <BSButton Color="BSColor.Dark" @onclick="@login">Log in</BSButton>
                    </BSCard>
                    
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code{

    private void login()
    {
        navMgr.NavigateTo("/login");
    }

}
