
@page "/login"
@using BlazorClient.Services.Http
@using BlazorClient.Services.ClientInterfaces
@using global::Shared.DTOs
@using BlazorClient.Services
@inject IUserService userService;
@inject IAuthService authService;
@inject NavigationManager navMgr;



<h3></h3>
<div class="toLine">
<div class="card1">
    <h3>Login</h3>
    <div class="form-group field">
        <label>User name:</label>
        <input type="text" @bind="usernameLog" @bind:event="oninput"/>
        <label>Password:</label>
        <input type="password" @bind="passwordLog" @bind:event="oninput"/>
        @if (!string.IsNullOrEmpty(msg))
        {
            <label style="color: @color">@msg</label>
        }
    </div>
    <div class="button-row">
        <button @onclick="LoginAsync" disabled="@(string.IsNullOrEmpty(usernameLog))" class="acceptbtn">Log in</button>
    </div>
</div>
<div class="card2">
    <h3>Create User</h3>
    <div class="form-group field">
        <label>Name:</label>
        <input type="text" @bind="name" @bind:event="oninput"/>
        <label>Phone Number:</label>
        <input type="password" @bind="phoneNumber" @bind:event="oninput"/>
        <label>User name:</label>
        <input type="text" @bind="username" @bind:event="oninput"/>
        <label>Password:</label>
        <input type="password" @bind="password" @bind:event="oninput"/>
        @if (!string.IsNullOrEmpty(resultMsg))
        {
            <label style="color: @color">@resultMsg</label>
        }
    </div>
    <div class="button-row">
        <button @onclick="Create" disabled="@(string.IsNullOrEmpty(username))" class="acceptbtn">Create</button>
    </div>
</div>
</div>
@code {
    private string name = "";
    private string phoneNumber = "";
    private string username = "";
    private string password = "";
    private string usernameLog = "";
    private string passwordLog = "";
    private string resultMsg = "";
    private string msg = "";
    private string color = "";
    
    private async Task Create()
    {
        resultMsg = "";

        try
        {
            await userService.Create(new UserCreationDto(name, phoneNumber, username, password));
            username = "";
            password = "";
            resultMsg = "User successfully created";
            color = "green";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
            color = "red";
        }
    }
    
    private async Task LoginAsync()
    {
        resultMsg = "";
        try
        {
            await authService.LoginAsync(usernameLog, passwordLog);
            navMgr.NavigateTo("/ViewProducts");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = $"Error: {e.Message}";
        }
    }
}