@page "/ShoppingCart"
@using global::Shared
@using BlazorClient.Services.ClientInterfaces
@inject IOrderItemService orderItemService
@inject HttpClient Http
@inject NavigationManager navMgr;
@if (!string.IsNullOrEmpty(msg))
            {
                <div>
                    <span>@msg</span>
                </div>
            }
@if (orderItems == null)
            {
                <span>Loading..</span>
            }
            else if (!orderItems.Any())
            {
                <span>No products to be found in your shopping cart</span>
            }
            else
            {
                <div class="card">
                    <div class="row">
                        <div class="col-md-8 cart">
                            <div class="title">
                                <div class="row">
                                    <div class="col"><h4><b>Shopping Cart</b></h4></div>
                                    <div class="col align-self-center text-right text-muted">@orderItems.Count() items</div>
                                </div>
                            </div>




                            <div class="order-container">
                                @foreach (OrderItem orderItem in orderItems)
                                {
                                    <div class="row border-top border-bottom">
                                        <div class="row main align-items-center">
                                            <div class="col-2"><img class="card-img-top img-thumbnail"  src="https://i.pinimg.com/564x/a3/6b/42/a36b422bb2bebcbd77bba846b83ddf5d.jpg" alt="Card image cap"></div>
                                            <div class="col">
                                                <div class="row text-muted">@orderItem.product.name</div>
                                                <div class="row">@orderItem.product.description</div>
                                            </div>
                                            <div class="col">
                                                <a href="#">-</a><a href="#" class="border">@orderItem.quantity</a><a href="#">+</a>
                                            </div>
                                            <div class="col">&euro; @orderItem.price <Button class="oi oi-x" @onclick="@(() => removeItem(orderItem.id))"></Button></div>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>

                        <div class="col-md-4 summary">
                            <div><h5><b>Summary</b></h5></div>
                            <hr>
                            <div class="row">
                                <div class="col" style="padding-left:0;">ITEMS @orderItems.Count()</div>
                                <div class="col text-right">&euro; 132.00</div>
                            </div>
                            <form>
                                <p>SHIPPING</p>
                                <select><option class="text-muted">Standard-Delivery- &euro;5.00</option></select>
                                <p>GIVE CODE</p>
                                <input id="code" placeholder="Enter your code">
                            </form>
                            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                                <div class="col">TOTAL PRICE</div>
                                <div class="col text-right">&euro; 137.00</div>
                            </div>
                            <button class="btn"  @onclick="@(() => navMgr.NavigateTo("/Checkout"))">CHECKOUT</button>
                        </div>
                    </div>

                </div>

            }
@code {
    private IEnumerable<OrderItem>? orderItems;
    private OrderItem[]? list;
    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            orderItems = await orderItemService.GetOrderItem();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }

        
        
    }
    
    private async Task removeItem(long id)
    {
        msg = "";
        try
        {
            await orderItemService.DeleteAsync(id);
        
            var list1 = new List<OrderItem>(orderItems!);
            list1.RemoveAll(orderItem => orderItem.id == id);
            orderItems = list1.AsEnumerable();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}