@page "/ShoppingCart"
@using global::Shared
@using BlazorClient.Services.ClientInterfaces
@using global::Shared.DTOs
@using System.Security.Claims
@inject IOrderItemService orderItemService
@inject IUserService userService
@inject NavigationManager navMgr
@attribute [Authorize(Policy="MustBeLoggedIn")]

@if (!string.IsNullOrEmpty(msg))
            {
                <div>
                    <span>@msg</span>
                </div>
            }
@if (orderItems == null)
            {
                <span>Loading..</span>
            }
            else if (!orderItems.Any())
            {
                <span>No products to be found in your shopping cart</span>
            }
            else
            {
                <MudCard style="color: black">
                    <div class="row ">
                        <div class="col-md-8 cart border-2 border-dark">
                            <CardHeaderContent class="title">
                                <div class="row">
                                    <div class="col"><h4><b>Shopping Cart</b></h4></div>
                                    <div class="col align-self-center text-right text-muted">@orderItems.Count() items</div>
                                </div>
                            </CardHeaderContent>




                            <div class="order-container">
                                @foreach (OrderItem orderItem in orderItems)
                                {
                                    <div class="row border-top border-bottom">
                                        <div class="row main align-items-center">
                                            <div class="col-2"><img class="card-img-top img-thumbnail"  src=@orderItem.product.image alt="Card image cap"></div>
                                            <div class="col">
                                                <div class="row text-muted">@orderItem.product.name</div>
                                            </div>
                                            <div class="col">
                                                <a href="#" @onclick="@(() => decrease(orderItem.id))" >-</a><a href="#" class="border">@orderItem.quantity</a><a href="#" @onclick="@(() => increase(orderItem.id, orderItem.product.stock))">+</a>
                                            </div>
                                            <div class="col" >&euro; @orderItem.price </div><Button class="col oi oi-x d-flex flex-row-reverse" @onclick="@(() => removeItem(orderItem.id))"></Button>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>

                        <div class="col-md-4 summary border-2 border-dark">
                            <div><h5><b>Summary</b></h5></div>
                            <hr>
                            <div class="row">
                                <div class="col"> ITEMS @orderItems.Count()</div>
                                <div class="col text-right">&euro; @price</div>
                            </div>
                            <form>
                                <p> SHIPPING</p>
                                <select><option class="text-muted">Standard-Delivery- &euro;@delivery</option></select>
                                
                            </form>
                            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                                <div class="col">TOTAL PRICE</div>
                                <div class="col text-right">&euro; @TotalPrice</div>
                            </div>
                            <button class="btn btn-dark"  @onclick="@(() => navMgr.NavigateTo("/Checkout"))">CHECKOUT</button>
                        </div>
                    </div>

                </MudCard>

            }

@code {
    public static IEnumerable<OrderItem>? orderItems;
    private string msg = "";
    private OrderItemUpdateDto dto = null!;
    private OrderItem orderItem= null!;
    private double price = 0;
    public static double TotalPrice = 0;
    private double delivery = 5;
    
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;

    private string? currentUsername;
    private IEnumerable<Claim>? userClaims;
    private bool isLoggedIn;
    private User currentUser = null;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthState;
        ClaimsPrincipal user = authState.User;
        isLoggedIn = user.Identity != null;

        if (isLoggedIn)
        {
            userClaims = user.Claims;
            currentUsername = user.Identity!.Name!;
            currentUser = await userService.GetByUsername(currentUsername);
        }
        msg = "";
        try
        {
            orderItems = await orderItemService.GetNotBoughtOrderItemsByUsername(currentUser.username);
            UpdatePrice();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    
    private void UpdatePrice()
    {
        price = 0;
        List<OrderItem> orderItemsList = orderItems.ToList();
        for (int i = 0; i < orderItemsList.Count; i++)
        {
            price += orderItemsList[i].price;
        }
        TotalPrice = price + delivery;
    }
    
    private async Task removeItem(long id)
    {
        msg = "";
        try
        {
            await orderItemService.DeleteAsync(id);
            var list1 = new List<OrderItem>(orderItems!);
            list1.RemoveAll(orderItem => orderItem.id == id);
            orderItems = list1.AsEnumerable();
            UpdatePrice();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private async Task decrease(long id)
    {
        msg = "";
        try
        {
            OrderItemCreationDto creationDto = await orderItemService.GetByIdAsync(id);
            if (creationDto.quantity > 0)
            {
                dto = new(id)
                {
                    quantity = (creationDto.quantity - 1),
                    id = id
                };
                await orderItemService.UpdateAsync(dto);
                if (dto.quantity== 0 )
                            {
                                await orderItemService.DeleteAsync(id);
                            }
                UpdatePrice();
                navMgr.NavigateTo("/ShoppingCart");
            }
            
            
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private async Task increase(long id, int stock)
    {
     
        msg = "";
        try
        {
            OrderItemCreationDto creationDto = await orderItemService.GetByIdAsync(id);
            if (creationDto.quantity < stock) 
            {
                dto = new(id)
                {
                    quantity = (creationDto.quantity + 1),
                    id = id
                };
                await orderItemService.UpdateAsync(dto);
                UpdatePrice();
                navMgr.NavigateTo("/ShoppingCart");
            }
            else if (creationDto.quantity==stock)
            {
                msg = "There is no more stock!";
                UpdatePrice();
                navMgr.NavigateTo("/ShoppingCart");
            }

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }   
    }
}